# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store

.pid
profile.out
coverage.out
coverage-all.out

*.md
!README.md
!README.MD
!README_VN.MD

/server
/vendor
/swaggerui
/up.json
*.code-workspace
/tmp
/logs
/.vs
.env
test.go
*_test.go
.vscode
*.tar
/fontend/dist/*
.github